<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-ciclo [valorInicial]="valor"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>
<app-data-binding></app-data-binding>
<br>
<app-diretiva-ng-for></app-diretiva-ng-for>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ng-style></app-diretiva-ng-style>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ng-content>Conteudo why there is no panel?</app-exemplo-ng-content>
<app-diretivas-customizadas></app-diretivas-customizadas>
<hr>
<h2>Serviços</h2>
<app-cursos></app-cursos>
<br>
<app-criar-curso></app-criar-curso>
<app-exemplos-pipes></app-exemplos-pipes>
<router-outlet />
